body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    transition: background-color 0.3s;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
  }
  
  nav {
    margin-top: 1em;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }
  
  nav li {
    display: inline;
    margin-right: 20px;
    transition: background-color 0.3s;
  }
  
  nav li:hover {
    background-color: #555;
  }
  
  section {
    margin: 7em;
  }
  
  h2 {
    color: #333;
    transition: color 0.3s;
  }
  
  .produto {
    background-color: white;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
    transition: box-shadow 0.3s, transform 0.3s;
  }
  
  .produto:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }
  
  .produto img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s;
  }
  
  .produto:hover img {
    transform: scale(1.1);
  }
  
  button {
    background-color: #333;
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #555;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  img{
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
  
  }